<div class="container">
	 <div class="box-part text-center">   
	<%= simple_form_for @food do |f| %>
	  <%= f.error_notification %>
	  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
	  <div>
	  	 <%= f.input :avatar, as: :file %>
	  </div>

	  <div class="form-inputs">
	    <%= f.input :title %>

	    <%= f.input :prep_time, :placeholder => "60 minutes" %>
	    <%= f.input :cook_time, :placeholder => "90 minutes" %>
	    <%= f.input :level_of_difficulty, :placeholder => "easy" %>
	    <%= f.input :serving_time, :placeholder => "4 servings" %>
	  </div>
	  

	  <div class="form-inputs">
	    <%= f.input :ingredients %>



	    <%= f.input :repice %>
	  </div>
	  

	  <div class="form-actions button btn-success">
	    <%= f.button :submit %>
	  </div>

	<% end %>
	</div>
</div>

