<center>
  <h1>Recipes</h1>
</center>


<% if @foods.present? %>
  <div class="box">
  <div class="container">
    <div class="row">
        <% @foods.each do |food| %>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12  ">             
          <div class="box-part text-center">    
            
            <img src=<%= food.avatar.url(:medium) %>  alt="..." class="img-thumbnail food-img">
                       
            <div class="title">
              <h4><%= food.title %></h4>
            </div>
                          
            <div class="text text-truncate">
              <span><%= food.repice %></span>
            </div>
            <a class="btn btn-light" href="<%= food_path(food) %>"
            role="button">Tarif burada :D</a>
                         
          </div>
        </div>
        <% end %>
    </div>  
    </div>  
</div>
<% else %>
<center>
  <div class="box">
    <div class="container">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12  ">             
            <div class="box-part text-center">    
              <div class="alert alert-danger"><p>There are no recipes containing the term(s) <%= params[:search] %>.</p></div>    
            </div>
          </div>  
    </div>  
  </div>
</center>
<% end %>

<br>
<br>

<center>
  <%= link_to 'New Food', new_food_path, :class => "btn" %>
</center>
