<br/>
<br/>
	<div class="card" style="width: 75rem;">
		<center>
			<h4 class="card-title font-weight-bold"><%= @food.title %></h5>
		</center>
	  <img class="card-img-top" src=<%= @food.avatar.url %> >
	  <div class="card-body">
	    <div class="container navbar-light bg-light">
		  <div class="row">
		    <div class="col-md">
		      Prep Time :<%= @food.prep_time %>
		    </div>
		    <div class="col-md">
		      Cook Time : <%= @food.cook_time %>
		    </div>
		    <div class="col-md">
		      Level of Difficulty:  <%= @food.level_of_difficulty %> 
		    </div>
		    <div class="col-md">
		      Serving Time : <%= @food.serving_time %> 
		    </div>
		  </div>
		</div>

		<div class="container box">
		  <div class="row">
		    <div class="col-sm">
		    	<div class="text-center">
		    		<h5 class="font-weight-bold"> Ingredients </h5> <br> 
		    	</div>
		    	<ul>
		    		<p class="text-left"><%= markdown(@food.ingredients) %></p>
		    	</ul>
		    </div>
		    <div class="col-md"> 
		    	<div class="text-center">
		    		<h5 class="font-weight-bold">Repice </h5> <br> 
		    	</div>
		    	<ul>
		    		<p class="text-left"><%= markdown(@food.repice) %></p>
		    	</ul>	      
		    </div>
		  </div>
		</div>
	  </div>
	</div>
<center>
	<%= link_to 'Back', foods_path, :class => "btn btn-light" %> |
	<%= link_to 'Edit', edit_food_path(@food), :class => "btn btn-light" %> |
	<%= link_to "Delete", food_path(@food), :class => "btn btn-danger font-weight-bold", method: :delete, data: { confirm: "Are you sure?" } %>
</center>


	<%= render 'comments/form' %>
	
	<%= render 'comments/index' %>

	


