<center>
  <nav class="navbar navbar-expand-lg navbar-light bg-light py-0">
     <a class="navbar-brand bg-light btn" <%= link_to 'food', root_path %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="btn bg-light"<%= link_to 'add food', new_food_path %></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">

       <%= form_tag(foods_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
          <%= submit_tag "Search" %>
        <% end %>

      </form>
    </div>
  </nav>
</center>
